{{userForm.value | json}}
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="col-md-12">
    <div class="form-group has-feedback">
      <label>Title</label>
      <select name="title" class="form-control" formControlName="title">
        <option [ngValue]="0">Select...</option>
        <option [ngValue]="1">Mr.</option>
        <option [ngValue]="2">Mrs.</option>
      </select>
      <i class="text-danger" *ngIf="title.invalid && title.touched">Please select title...</i>
    </div>
    <div class="form-group has-feedback">
      <label>First Name</label>
      <input class="form-control" type="text" formControlName="firstName" placeholder="First Name" />
      <i class="text-danger" *ngIf="firstName.invalid && firstName.touched">First Name is not valid...</i>
    </div>
    <div class="form-group has-feedback">
      <label>Last Name</label>
      <input class="form-control" type="text" formControlName="lastName" placeholder="Last Name" />
      <i class="text-danger" *ngIf="lastName.invalid && lastName.touched">Last Name is not valid...</i>
    </div>
    <div class="form-group has-feedback">
      <label>Email</label>
      <input class="form-control" type="text" formControlName="email" placeholder="Email" />
      <i class="text-danger" *ngIf="email.invalid && email.touched">Email is not valid...</i>
    </div>
    <div class="form-group has-feedback">
      <label>Date Of Birth</label>
      <div class="form-group">
        <div class="input-group">
          <input
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            formControlName="dateOfBirth"
            ngbDatepicker
            #d="ngbDatepicker"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary bg-light-gray uk-icon-calendar-check-o"
              (click)="d.toggle()"
              type="button"
            >
            <i class="far fa-calendar-alt" ></i>
          </button>
          </div>
        </div>
      <i class="text-danger" *ngIf="dateOfBirth.invalid && dateOfBirth.touched">Date of Birth is not valid...</i>
      </div>
    </div>
    <div class="form-group has-feedback">
      <label>Phone No.</label>
      <input class="form-control" type="text" formControlName="phone" />
      <i class="text-danger" *ngIf="phone.invalid && phone.touched">Phone Number is not valid...</i>
    </div>
    <div class="form-group has-feedback">
      <label>Gender</label>
      <div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            formControlName="gender"
            id="male"
            [value]="1"
          />
          <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            formControlName="gender"
            id="female"
            [value]="2"
          />
          <label class="form-check-label" for="female">Female</label>
        </div>
      </div>
      <i class="text-danger" *ngIf="gender.invalid && gender.touched">Please choose your gender...</i>
    </div>
    <div class="form-group has-feedback">
      <label>Languages</label>
      <div class="form-row">
        <div class="col-md-4" *ngFor="let item of this.userService.languageList">
          <label>
            <input
              class="form-check-inline"
              type="checkbox"
              name="languages"
              [value]="item.id"
              [checked]="getLanguageModel(item)"
              (change)="onLanguageChange($event.target.checked, item)"
            />
            {{ item.title }}
          </label>
        </div>
      </div>
      <!-- <i class="text-danger" *ngIf=" && language.touched">Select at least one Language...</i> -->
    </div>
    <div class="form-group text-center">
      <button
        type="submit"
        [disabled]="!userForm.valid"
        class="btn btn-success btn-lg col-md-6 col-md-offset-3"
      >
        <i class="fas fa-database"></i>
        Submit
      </button>
    </div>
  </div>
</form>
