<table class="table text-center">
    <tr>
        <td><b>First Name</b> </td>
        <td><b>Last Name</b></td>
        <td><b>Email</b></td>
        <td><b>Gender</b></td>
        <td><b>Phone</b></td>
        <td><b>Actions</b></td>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.phone }}</td>
        <td>
            <i class="fas fa-trash-alt fa-lg text-danger" (click)="deleteUser(user)"></i>
            <i class="fas fa-pencil fa-lg text-primary" (click)="setUser(user)"></i>
        </td>
    </tr>
</table>